*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.interrupt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.polling{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.githubIcon{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

@media (max-width: 768px){
    #github{
        width: 20px;
        height: 20px;
    }
    img{
       height: 250px;
    }
}   